*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: "Kanit", sans-serif;
}
body{
  position: relative;
  display: flex;
}

.menu
{
  position: fixed;
  width: 25%;
  color: white;
  line-height: 2;
  background-color: #000;
  height: 100vh;
}

.menu_header{
  padding-top: 20px;
} 
.menu_header-img{
  display: flex;
  justify-content: center; 
}
.menu_header-img img{
  border-radius: 50%;
  width: 30%;
}
.menu_header-name{
  margin-top: 10px;
  text-align: center;
  font-size: medium;
  font-weight: 500;
}
.menu_header-icon{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.menu_nav {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.menu_nav ol{
  padding: 50px;
}
.menu_nav a{
  text-decoration: none;
  color: white;
  width: fit-content;
  padding-bottom: 15px;
}
.menu_nav a:hover{
  color: rgb(22, 109, 180);
}

.menu_footer{
  display: flex;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  justify-content: center;

}
.menu_footer i{
  display: inline-block;
  padding-top: 5px ;
  padding-right: 5px;
}
.content{
  position: absolute;
  left: 25%;
  top: 0;
  margin-left: 20px; 
}