* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}

html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 20px;
  color: #fa591f;
}

h6 {
  color: rgb(155, 92, 20);
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-bold {
  font-weight: bold;
}

.header {
  background-image: linear-gradient(to bottom, rgb(231, 174, 174), #e66232);

}

.header-container {
  display: flex;
  padding-top: 20px;
}

.header-left {
  width: 60%;
  margin-left: 20px;
}

.header-left-img {
  width: 20%;
  margin-bottom: 10px;
}

.header-right {
  text-align: right;
  width: 40%;
  padding-right: 20px;
}

.header-link {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 20px;
}

.link-left {
  padding-left: 20px;
}

.link-right {
  text-align: end;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.header-right a,
.footer-right a {
  margin-left: 10px;

}

.header-right button {
  padding: 8px 10px;
  margin-left: 20px;
  background-color: white;
  color: #fa591f;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.menu-bg {
  background-color: #fa591f;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bolder;
}

.separate::after {
  content: '|';
  color: white;
  padding-left: 30px;
}

.separate:last-child::after {
  content: '';
}

.container {
  display: flex;
}

.content {
  margin-top: 30px;
  width: 85%;
}

.sanpham1 {
  line-height: 2;
  padding-left: 20px;
}

.sanpham1-main {
  display: flex;
}

.sanpham1-main-text {
  margin-top: 10px;
  margin-left: 20px;
  text-align: justify;
}
.sanpham1-main-text h6{
  font-size: 20px;
}

.main-img {
  width: 30%;
  margin-top: 20px;
  border: 1px solid rgb(155, 92, 20);

}

.content-text {}

.sub-img {
  width: 12%;
  margin-top: 20px;
  margin: 20px;
  border: 1px solid rgb(155, 92, 20);
}
.sub-image .sub-img:first-child{
  margin-left: 0px;
}

.sanpham2 {
  line-height: 2;
  padding-left: 20px;
  margin-bottom: 20px;
}

.sanpham2 p {
  padding-left: 20px;
}

.under-border {
  border-bottom: 1px #333 dashed;
}

.banner-contact img {
  width: 100%;
  padding-left: 20px;
}

.nav {
  width: 15%;
  margin: 20px;
  padding-top: 20px;

}

.nav i {
  color: rgb(155, 92, 20);
}

.nav-link {
  line-height: 2;

}

.nav-link:hover {
  display: inline-block;
  background-color: #e66232;
  color: white;
}

.nav img {
  margin-top: 24px;
  width: 100%;
  border: 1px solid rgb(155, 92, 20);

}

.footer {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  line-height: 2;
  background-color: #fa591f;
}

.footer-left {
  width: 60%;

}

.footer-right {
  width: 40%;
  text-align: right;
  padding-right: 20px;
}