* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #d5d5d5;
}

html {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-family: "Poppins", sans-serif;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i:hover {
  cursor: pointer;
}

.textcent {
  text-align: center;
}

.fs20 {
  font-size: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.icon-up-to {
  position: fixed;
  bottom: 50px;
  right: 10%;
  z-index: 2;
}

.icon-up-to a i {
  color: black;
  padding: 10px 13px;
}

.header {
  max-width: 100%;
  background-color: #000;
  color: white;
  padding: 20px 0;
  align-items: center;
  font-weight: 300;
}

.fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
}

.header-shopnow {
  color: white;
  text-decoration: underline;
  font-weight: 500 !important;
}

.header-title {
  max-width: 1200px;
  margin: 0 auto;

}

.header-content {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: relative;
  top: 60px;
  border-bottom: 1px solid var(--primary-color);
  padding: 15px 0;
  margin-top: 30px;
  margin-bottom: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-container h1 {
  font-size: 24px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  display: inline-block;
  padding-left: 20px;
}

.menu ul li a {
  color: #000;
  padding-bottom: 5px;
}

.menu ul li a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.box-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  padding: 0 10px;

}
.box-user a i{
  color: black;
}
.search {
  width: 78%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 10px;

}

.search input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 11px;
  font-family: "Poppins", sans-serif;

}

.search i {
  font-size: 14px;
}

.slider {}

.slider-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-slider {
  border-right: 1px solid var(--primary-color);
  padding: 40px 20px 0px 0px;
  text-transform: uppercase;
  line-height: 2;
}

.left-slider a {
  color: #000;
}

.left-slider li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-slider {
  margin: 40px 0 0 40px;
  position: relative;
  color: white;
  background: url(/asset/images/iphone.png) no-repeat;
  background-size: cover;
}

.right-slider .main-img {
  width: 100%;
}

.logo-apple {
  position: absolute;
  top: 30px;
  left: 50px;
}

.iphone p {
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  top: 50px;
  left: 110px;
}

.voucher {
  position: absolute;
  font-size: 36px;
  font-weight: 500;
  top: 90px;
  left: 50px;
  line-height: 1.5;
}

.voucher p {
  letter-spacing: 1.1px;

}

.shop-now {
  display: flex;
  position: absolute;
  top: 210px;
  left: 50px;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 5px;
  color: white;
}

.shop-now p {
  border-bottom: 1px solid var(--primary-color);
  margin-right: 10px;
}

.circle {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  left: 45%;
}

.circle li {
  display: inline-block;
  border: none;
  border-radius: 50%;
  background-color: #b4b4b4;
  padding: 5px;
  margin: 6px;
}

.active-circle {
  background-color: red !important;
  border: 2px solid #ccc !important;
  padding: 6px;
}

.product {
  padding: 60px 0;
  border-bottom: 1px solid var(--primary-color);
}

.title-red-section {
  display: flex;
  align-items: center;
  color: #db4344;
  padding-bottom: 20px;
}

.box-red {
  width: 25px;
  height: 40px;
  background-color: #db4344;
  border-radius: 3px;
  margin-right: 10px;
}

.title-product h4 {
  font-size: 16px;
}

.content-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.content-product h3 {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
}

.box-time {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.box-time p {
  font-size: 10px;
  font-weight: 600;
  padding-bottom: 10px;
}

.box-time h4 {
  font-size: 30px;
}

.box-time-odd {}

.box-time-even {
  align-items: center;
  color: #db4344;
}

.icon-container {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.icon-container i {
  border: none;
  background-color: #e9e9e9;
  border-radius: 50%;
  padding: 10px;
}

.icon-container i:first-child {
  margin-right: 10px;
}

.list-product {}

.box-product {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}

.product-img {
  position: relative;
  background-color: #efefef;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;

}

.icon-on-product {
  display: flex;
  justify-content: space-between;

}

.detail-discount {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #db4344;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  height: 25px;
  padding: 0 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bg-green {
  background-color: rgb(31, 232, 88);
}

.icon-user-product {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 16px;
  right: 10px;
}

.icon-user-product i {
  background-color: white;
  padding: 6px;
  border-radius: 50%;
}

.icon-user-product i:first-child {
  margin-bottom: 14px;
}

.product-item {
  position: relative;
}

.add-cart {
  display: none;
  background-color: black;
  color: white;
  padding: 7px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  border-radius: 0 0 4px 4px;

}

.product-item:hover .add-cart {
  display: block;
}

.detail-product {
  margin-top: 18px;
}

.price-product {
  display: flex;
}

.ordinary-price {
  color: #b4b4b4 !important;
  text-decoration: line-through;
  padding-left: 20px;
}

.detail-product h5 {
  font-size: 16px;
  font-weight: 450;
}

.detail-product p {
  margin-top: 10px;
  color: #db4344;
  font-weight: 400;
}

.detail-pd-flex {
  display: flex;
  justify-content: space-between;
}

.detail-pd-flex .star-product {
  margin-top: 0 !important;
  margin-left: 10px;
}

.star-product {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
}

.star-product p {
  color: #b4b4b4;
}

.btn-view-all-product {
  display: flex;
  justify-content: center;
  padding: 12px 46px;
  background-color: #db4344;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.center-btn {
  margin: auto;
}

.categories-title-p {
  padding-top: 20px;
}

.categories-img-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.categories-img {
  padding: 40px 45px 50px 45px;
  border: 1px solid #b4b4b4;
  border-radius: 2px;
}

.red-bg {
  background-color: #db4344;
  border: none;
}

.red-bg-p {
  color: white;
}

.product-categories {
  position: relative;
}

.product-categories p {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
}

.product-none-bdbottom {
  border-bottom: none;
}

.product-bg {
  margin-top: 120px;
  background: url('../images/hero.png');
  width: 100%;
  height: 400px;
  background-size: cover;
}

.content-bg-this-month {
  position: relative;
}

.content-bg-this-month h6 {
  position: absolute;
  top: 30px;
  left: 40px;
  color: rgb(71, 255, 47);
  font-size: 14px;
}

.content-bg-this-month h2 {
  position: absolute;
  top: 70px;
  left: 40px;
  color: white;
  line-height: 1.3;
  font-size: 40px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.content-bg-this-month .gr-time {
  position: absolute;
  top: 210px;
  left: 40px;
  display: flex;
}

.content-bg-this-month .time {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 10px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  margin-right: 20px;
}

.content-bg-this-month .buy-now {
  position: absolute;
  top: 320px;
  left: 40px;
  background-color: rgb(31, 232, 88);
  border: none;
  padding: 12px 40px;
  border-radius: 4px;
  color: white;
}

.circle-product {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 44px;
}

.red-in {
  width: 0;
  height: 0;
  padding: 8px;
  background-color: #db4344;
  border: 1.5px solid black;
  border-radius: 50%;
}

.red-all {
  width: 0;
  height: 0;
  padding: 8px;
  background-color: #db4344;
  border: 1.5px solid #db4344;
  border-radius: 50%;
}

.yellow-in {
  width: 0;
  height: 0;
  padding: 8px;
  background-color: yellow;
  border: 1.5px solid black;
  border-radius: 50%;
}

.black-in {
  width: 0;
  height: 0;
  padding: 8px;
  background-color: black;
  border: 1.5px solid black;
  border-radius: 50%;
}

.featured-img,
.featured-img-right-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.featured-img-left {
  background-color: black;
  border-radius: 4px;
}

.featured-img-left img {
  width: 100%;
  height: 100%;
}

.featured-img-right-top {
  grid-column-start: 1;
  grid-column-end: 3;

}

.featured-img-right-top img {
  width: 100%;
  border-radius: 4px;

}

.featured-img-right-bottom {
  padding-top: 20px;
  border-radius: 4px;

}

.featured-img-right-bottom img {
  padding: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;

}

.pos-re {
  position: relative;
}

.featured-text {
  position: absolute;
  bottom: 12%;
  left: 20px;
  width: 60%;
  line-height: 3;
  color: white;
  font-size: 14px;
}

.featured-text p {
  line-height: 1.5 !important;

}

.featured-text h6 {
  padding-top: 20px;
  line-height: 1.5 !important;
  width: fit-content;
  border-bottom: 1px solid #e4e4e4;
}

.ft-tx-bt-left {
  width: 100%;
}

.about {
  margin-bottom: 40px;
}

.about-main {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  font-size: 14px;
  margin-bottom: 40px;
}

.about-element {
  line-height: 3;
  text-align: center;
}

.about-element .icon {
  display: flex;
  margin: auto;
  width: fit-content;
  padding: 14px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.about-element h2 {
  padding-top: 10px;
  text-transform: uppercase;
}

.footer {
  background-color: black;
  color: white;
  line-height: 3;
  padding-top: 60px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 14px !important;
}

.footer-flex {
  display: grid;
  grid-template-columns: 20% 20% 15% 15% 20%;
  gap: 30px;
  margin-bottom: 50px;
}

.footer h3 {
  text-transform: capitalize;
  font-weight: 500 !important;
}

.exclusive form {
  display: flex;
  border: 1px solid white;
  background-color: black;
  border-radius: 4px;
  height: auto;
}

.exclusive form input {
  outline: none;
  border: none;
  background-color: black;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 10px;
}

.exclusive form img {
  height: fit-content;
  padding: 10px 8px 0 0;
}

.account ul li {
  list-style-type: none;
  text-transform: capitalize;
}

.download {
  width: 100%;
}

.title-download {
  color: #b4b4b4;
  font-size: 12px;
}

.qr-application {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  line-height: 1;
}

.qr-img {
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}

.app-img {
  width: 100%;
}

.icon-download {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 15px;
}

.copyright {
  color: #434242;
  text-align: center;
}